<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="form-field">
    <label for="nombre">Nombre</label>
    <input
      type="text"
      id="nombre"
      placeholder="Ingresa tu nombre"
      formControlName="nombre"
      [attr.aria-invalid]="form.get('nombre')?.['invalid']"
      aria-describedby="error-nombre"
    />
    <span
      id="error-nombre"
      class="validation-error"
      *ngIf="form.get('nombre')?.errors?.['required']"
      >El nombre es requerido</span
    >
  </div>
  <div class="form-field">
    <label for="apellidos">Apellidos</label>
    <input
      type="text"
      id="apellidos"
      placeholder="Ingresa tus apellidos"
      formControlName="apellidos"
      [attr.aria-invalid]="form.get('apellidos')?.['invalid']"
    />
    <span
      class="validation-error"
      *ngIf="form.get('apellidos')?.errors?.['required']"
      >Los apellidos son requeridos</span
    >
  </div>
  <div class="form-field">
    <label for="email">Correo electronico</label>
    <input
      type="text"
      id="email"
      placeholder="Ingresa tu correo electronico"
      formControlName="email"
      [attr.aria-invalid]="form.get('email')?.['invalid']"
    />
    <span
      class="validation-error"
      *ngIf="form.get('email')?.errors?.['required']"
      >El correo electronico es requerido</span
    >
  </div>
  <div class="button-group">
    <button
      class="button button-primary"
      type="submit"
      [attr.aria-disabled]="form.invalid"
    >
      Enviar
    </button>
    <button
      class="button button-secondary"
      type="button"
      (click)="cerrarComponente()"
    >
      Cancelar
    </button>
  </div>
</form>
